h1 {
    text-align: center;
    color: rgb(121, 104, 83);
}
p{
    text-align: center;
    color: rgb(94, 79, 62);
}
body{
    background-color: rgb(206, 234, 235);
    padding: 1%;
}

.pic{
    text-align: center;
    margin-top: 5%;
}
.pic img{
    border-radius: 10vh;
}
.chere{
    text-align: center;
    color: rgb(94, 79, 62);
}